{{message}}

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <form action="">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" value="Search">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="single-product.htm">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <li><a href="single-product.htm">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.htm">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.htm">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.htm">Sony Smart TV - 2015</a></li>
                        <li><a href="single-product.htm">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form name="exampleForm" method="post" class="myForm">

                            <div id="customer_details" class="col2-set">
                                <div class="col-md-12">
                                    <div class="woocommerce-billing-fields">
                                        <h3>Please fill below form to complete your shopping.</h3>
                                        <p class="form-row form-row-first validate-required">
                                            <label>Name :</label>
                                            <input type="text" name="name" ng-model="form.name" class="input-text" required />
                                            <div ng-messages="exampleForm.name.$error" class="required">
                                                <div ng-message="required">Name field is required</div>
                                            </div>
                                        </p>
                                    
                                         <p class="form-row form-row-first validate-required">
                                            <label>Address :</label>
                                            <input type="text" name="address" ng-model="form.address" class="input-text" required />
                                            <div ng-messages="exampleForm.address.$error" class="required">
                                                <div ng-message="required">Address field is required</div>
                                            </div>
                                        </p>
                                
                                        <p class="form-row form-row-first validate-required">
                                            <label>Post Code :</label>
                                            <input type="text" name="postCode" ng-model="form.postCode" class="input-text" required />
                                            <div ng-messages="exampleForm.postCode.$error" class="required">
                                                <div ng-message="required">Postcode field is required</div>
                                            </div>
                                        </p>
                                        <p class="form-row form-row-wide address-field">
                                            <a href="#/cart">
                                                <input type="submit" value="Goto Card">
                                            </a>
                                            <input type="submit" value="Complete Shopping" ng-click="completeShopping()">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>